{% extends 'base.html' %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
<h1>Список товаров в корзине</h1>
<ul>
    {% for p, q, a in list_basket_product, list_product_quantity, list_product_amount %}
        <li>
            {{ forloop.counter }}.{{ p }} * {{ q }} = {{ a }}
            <p>Изменить количество
                <a href="/basket/product_plus/"><button type="submit">+</button></a>
                <a href="/basket/product_minus/"><button type="submit">-</button></a></p>
            <br>
        </li>
    {% endfor %}
    <p>Итого:  {{ amount_in_basket }}</p>
</ul>
{% endblock %}

{% block pagination %}
    <a href="http://127.0.0.1:8000/basket_order/"><button type="submit">Оформить заказ</button></a>
    <p>Чтобы офпрмить заказ нужно войти или зарегистрироваться</p>
{% endblock %}