{% extends 'base.html' %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
<h1>Список товаров в корзине</h1>
{% if my_basket %}
<ul>
    {% for paragraph in my_basket %}
        <li>
            {{ forloop.counter }}.{{ paragraph.product }} по {{ paragraph.product.price }}  ---  {{ paragraph.quantity }}шт.
            <p>Изменить количество
                <a href="/add_basket/{{ paragraph.product.name_product|urlencode }}/+/"><button type="submit">+</button></a>
                <a href="/add_basket/{{ paragraph.product.name_product|urlencode }}/-/"><button type="submit">-</button></a></p>
            <br>
        </li>
    {% endfor %}
    <p>Итого:  {{ amount_basket }}</p>
</ul>
<br>
<br>
<br>
<a href="http://127.0.0.1:8000/basket_order/"><button type="submit">Оформить заказ</button></a>
    <p></p>
{% else %}
<p>Ваша корзина пуста</p>
{% endif %}
{% endblock %}

{% block pagination %}
{% endblock %}